@model RoomModel


<p>@Model.Name</p>
<h1>Room</h1>
<p>@Model.Open do @Model.Close </p>

<input class="form-control col-sm-5" onchange="SetTime({ value:this.value,id: @Model.Id })" type="date" value="@DateTime.Today.ToString("dd-MM-yyyy")" />

<div id="reservations"></div>

@section scripts{
    <script>function SetTime({ value, id }) {

            $("#reservations").load("/Home/DateSelect", { dateTime: value, id: id });
        }</script>
}